@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-card: #171717;
  --color-primary: #e5e5e5;
  --color-secondary: #262626;
  --color-muted-foreground: #a1a1a1;
  --color-likes: #e40014;
  --color-comments: #2c73e6;
  --color-asent:#262626;
}
